.state-data-table {
    margin: 25px 100px 25px 125px;
    overflow: auto;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
}
.state-data-table-header {
    margin: 0px 0px 0px 400px;
    padding: 20px 0px 20px 0px;
}
.state-data-table-column-header {
    text-align: center;
}
.state-data-table-row {
    text-align: center;
}
.state-data-table-top-row {
    background-color: #bdc196;
    text-align: center;
}
.state-data-table-column-header-date {
    cursor: pointer;
}
.state-data-table-column-header-cases {
    cursor: pointer;
}
.state-data-table-column-header-deaths {
    cursor: pointer;
}