.state-data-table {
    margin: 10px 100px 200px 125px;
    overflow: auto;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
}
.state-data-table-header {
    margin: 0px 0px 0px 400px;
    padding: 20px 0px 20px 0px;
}
.state-data-table-column-header {
    text-align: center;
}
.state-data-table-column-header-date {
    cursor: pointer;
}
.state-data-table-column-header-cases {
    cursor: pointer;
}
.state-data-table-column-header-deaths {
    cursor: pointer;
}
.state-data-table-total-cases-usa-button {
    margin: 0px 20px 0px 0px !important;
    float: right;
}
.state-data-table-total-cases-each-state-button {
    margin: 0px 20px 0px 0px !important;
    float: right;
}