.usa-data-table {
    margin: 25px 100px 25px 125px;
    overflow: auto;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
}
.usa-data-table-header {
    margin: 0px 0px 0px 375px;
    padding: 20px 0px 20px 0px;
}
.usa-data-table-date-picker-wrapper {
    float: right
}
.usa-data-table-column-header-state {
    cursor: pointer;
}
.usa-data-table-column-header-date {
    cursor: pointer;
}
.usa-data-table-column-header-cases {
    cursor: pointer;
}
.usa-data-table-column-header-deaths {
    cursor: pointer;
}
.usa-data-table-row {
    text-align: center;
}
.usa-data-table-column-header {
    text-align: center;
}
.usa-data-table-loader {
    position: absolute;
    left: 45.5%;
}
.usa-data-table-total-cases-usa-button {
    margin: 0px 20px 0px 0px !important;
    float: right;
}
.usa-data-table-total-cases-each-state-button {
    margin: 0px 20px 0px 10px !important;
    float: right;
}