.splineChart-loader {
    position: absolute;
    left: 45.5%;
    top: 45%;
}
.splineChart-wrapper {
    margin: 0px 100px 100px 100px;
    overflow: auto;
}
.splineChart-title {
    margin: 50px 0px 10px 0px;
    text-align: center;
}